.div1{
    margin: auto;
    width: 600px;
    border: 2px solid blue;
    margin-top: 50px
}

.button1{
    width: 90px;
    margin-bottom: 7px;
    margin-right: 5px;
    border: double;
    padding: 5px;
}

div{
    background-color: antiquewhite;
}

table{
    background-color: cadetblue;
}

table tr td{
    font-weight: bold;
    text-align: right;
}

input[name="txt2"] {
    height: 20px;
}
input[name="txt1"] {
    height: 20px;
}
input[name="result"] {
    height: 20px;
}